@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/*=========================================================
   VARIABLES
===========================================================*/
:root {
    --main-color: #75c7bf;
    --back-color: #faeee7;
    --second-color: #737373;
    /* --active-color: #ddd; */
    --max-width: 1200px;
    --main-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
}

.recipe-category {
    --snack-color: #d9d4e7;
    --mainCourse-color: #a66bbe;
    --dessert-color: #F0B27A;
}
.book-category {
    --classics-color: #F4D03F;
    --fiction-color: #85C1E9;
    --detective-color: #2C3E50;
    --romance-color: #fec7d7;
    --historical-color: #8D6450;
}

/*=========================================================
   MAIN ELEMENTS' STYLES
===========================================================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
    background: var(--back-color);
    color: var(--second-color);
}

h2 {
    font-size: 2rem;
    font-weight: 100;
    margin: 15px 3.5rem;
}

h3 {
    font-size: 1rem;
    font-weight: 400;
}

a {
    color: var(--second-color);
}

.a-btn:hover {
    text-decoration: none;
    color: var(--back-color);
    cursor: pointer;
}

.a-header:hover {
    text-decoration: none;
    cursor: pointer;
    color: var(--second-color);
}

hr.dotted {
    border-top: 3px dotted #bbb;
    width: 95%;
    margin: 30px auto;
  }

/*=========================================================
   UTILITIES
===========================================================*/
.container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.width-container {
    max-width: var(--max-width);
    margin: auto;
    padding: 0 0.5rem;
}

.white-back {
    background: #fff;
    border-radius: 5px;
}

.btn-green {
    margin-top: 20px;
    cursor: pointer;
    display: inline-block;
    padding: 10px 30px;
    color: var(--second-color);
    background: var(--main-color);
    border: none;
    border-radius: 5px;
    box-shadow: .5px .5px .5px .5px var(--second-color);
}

.lead {
    margin-top: 10px;
    font-weight: 600;
}

small {
    height: 100%;
}

.recipe-category,
.book-category {
    display: inline-block;
    color: var(--second-color);
    font-size: .55rem;
    text-transform: uppercase;
    padding: 0.2rem 0.4rem;
    margin: 0.4rem 0.2rem;
    border-radius: 15px;
    max-width: fit-content;
    align-items: center;
    justify-content: center;
    box-shadow: .5px .5px .5px .5px var(--second-color);
}

.recipe-category:hover {
    color: var(--back-color);
}

.category-snack { background: var(--snack-color);}
.category-mainCourse { background: var(--mainCourse-color);}
.category-dessert { background: var(--dessert-color);}

.book-category:hover {
    color: var(--back-color);
}

.category-classics { background: var(--classics-color);}
.category-fiction { background: var(--fiction-color);}
.category-romance { background: var(--romance-color);}

.category-detective {
    color: var(--back-color);
    background: var(--detective-color);
}
.category-historical {
    color: var(--back-color);
    background: var(--historical-color);
}

/*----------------------------*\
	NAVBAR
\*----------------------------*/
#brand {
    font-family: "Pacifico", sans-serif;
    text-align: center;
    font-size: 3rem;
    color: var(--main-color);
    font-weight: 800;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar .nav-link {
    color: var(--second-color);
    font-size: 1.2rem;
    margin: 0 20px;
    padding: 10px 0;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: var(--main-color);
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: var(--main-color);
}

/*----------------------------*\
	DROPDOWN MENU
\*----------------------------*/
.dropdown-menu a {
    color: var(--second-color);
    padding: 10px 10px;
}

.dropdown-content {
    margin-top: 10px;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: var(--main-shadow);
    z-index: 1;
}

.dropdown-item:focus {
background: var(--main-color);
}

/*----------------------------*\
	FOOTER
\*----------------------------*/
.page-footer {
    color: var(--back-color);
    background: var(--second-color);
    margin-top: 20px;
}

.page-footer a {
    color: var(--back-color);
}

.page-footer a:hover {
    text-decoration: none;
}

.page-footer #brand{
    margin: 0;
    font-size: 3.4rem;
    text-align: center;
}

.footer-copyright .text-center .py-3 {
    padding: 0;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.8rem 0;
    padding-left: 20px;
}

.social > * {
    margin-right: 30px;
}

/*=========================================================
   INDEX.HTML
===========================================================*/

/*----------------------------*\
	JUMBOTRON
\*----------------------------*/
.jumbotron {
    background: url("img/back_pic.jpg");
    text-align: center;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

/*----------------------------*\
	EDITORS CHOICE RECIPE
\*----------------------------*/
.blockquote-footer::before {
    content: "";
}
.quote {
font-style: italic;
font-size: 0.9rem;
}

/*----------------------------*\
	FOOD ICONS
\*----------------------------*/
.icon-container {
    border: 1px dotted var(--second-color);
    border-radius: 10px;
}

.icon-container:hover {
    box-shadow: var(--main-shadow);
}

.icons i {
    color: var(--second-color);
    padding: 1rem;
    margin-bottom: 15px;
}

.icons i:hover {
    cursor: pointer;
}

.flex-items {
    display: flex;
    text-align: center;
    justify-content: space-around;
    height: 100%;
}

.flex-items > * {
    padding: 10px;
    min-width: 200px;
}

/*----------------------------*\
	BOOK GENRES
\*----------------------------*/
.book-genres {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
}

.book-genres .btn {
    background: var(--back-color);
    color: var(--second-color);
    border: 1px solid var(--main-color);
}

.book-genres .btn:hover {
    cursor: pointer;
    background: var(--second-color);
    border: none;
    color: var(--back-color);
}

/* .back-img-classics { background: url("img/genres/classics-gold.jpg");} */
.back-img-fiction { background: url("img/genres/fiction-blue.jpg");}
.back-img-detective { background: url("img/genres/detective-black.jpg");}
.back-img-romance { background: url("img/genres/romance-pink.jpg");}
.back-img-historical { background: url("img/genres/historical-brown.jpg");}

.back-img-classics { 
    /* background: url("img/genres/classics-gold.jpg"); */
    
    background:var(--back-color);
    color: var(--second-color);
}

/*----------------------------*\
	BLOG
\*----------------------------*/
.blog-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.blog-grid .card:hover {
    box-shadow: var(--main-shadow);
}

/*----------------------------*\
	FORM
\*----------------------------*/
form {
    margin: 20px 0;
}


/*=========================================================
   RECIPES.HTML
===========================================================*/
.card-scroll {
    min-height: 300px;
    min-width: 250px;
    margin-right: 7px;
}

.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;  
}

/*=========================================================
   RECIPE01.HTML
===========================================================*/
#recipe-page > * {
    margin: 20px;
}

.recipe-images { 
    grid-area: images;
}

.recipe-header { 
    grid-area: header;
    margin: 20px 20px 10px 10px;
}

.recipe-quote { 
    grid-area: quote;
}

.recipe-details { 
    display: flex;
    justify-content: space-between;
    grid-area: details;
}

.recipe-ingredients { 
    grid-area: ingredients;
}

.recipe-preparation { 
    grid-area: preparation;
}

#recipe-page ul {
    list-style: none;
}

#recipe-page h2 {
    margin-left: 0;
}

#recipe-page {
display: grid;
margin: 20px auto;
grid-template-areas: 
"images images header"
"images images quote"
"images images details"
"ingredients preparation preparation";
}

/*=========================================================
   ABOUT.HTML
===========================================================*/
.about-logo {
    max-height: 300px;
}

.team-images img {
    height: 180px;
    margin-bottom: 20px;
}

.team-images h3 {
    font-weight: 600;
}

/*=========================================================
   POST01.HTML
===========================================================*/
.popular-posts .card{
    border: none;
}

/*=========================================================
MOBILE
===========================================================*/

/*----------------------------*\
	TABLET
\*----------------------------*/
@media(max-width: 786px) {
    .book-genres {
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .blog-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .icon-container {
        padding: 0;
        margin: 0 5px;
    }

    .icons i {
        color: var(--second-color);
        padding: .5rem;
        margin-bottom: 5px;
    }

    .hide-tablet {
        display: none;
    }

    .page-footer {
        font-size: 0.9rem;
    }
}

/*----------------------------*\
	CELL PHONE
\*----------------------------*/
@media(max-width: 500px) {
    .book-genres {
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .flex-items {
        display: inline-block;
    }

    .flex-items i {
        margin-top: 15px;
    }

    .flex-items .icon-container {
        display: inline-block;
        width: 50%;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 5px 0;
    }

    .icons h4 {
        font-size: 1rem;
    }

    .blog-grid {
        grid-template-columns: 1fr;
        text-align: center;
        /* width: 100%; */
    }

    .hide-mobile {
        display: none;
    }
}
