@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* Colors */
:root {
    --main-color: #75c7bf;
    --back-color: #faeee7;
    --second-color: #737373;
    --active-color: #ddd;
  }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
    background: var(--back-color);
    color: var(--second-color);
}

h2 {
    font-size: 40px;
    font-weight: 100;
}

h3 {
    font-size: 1.5rem;
    font-weight: 100;
}

ul {
    list-style: none;
}

a {
    color: var(--second-color);
    text-decoration: none;
}

p {
    margin: 10px 0;
}


hr.dotted {
    border-top: 3px dotted #bbb;
    width: 95%;
    margin: auto
  }

.main-color {
    color: var(--main-color);
    font-weight: 800;
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;  
    color: var(--second-color);
    opacity: 0.8;
    width: 100%;
    height: 70px;
    position: -webkit-sticky;
    position: sticky; 
    top: 0px;
    padding: 0 30px;
  }

.navbar a {
    font-size: 1.2rem;
    color: var(--second-color);
    padding: 25px 20px;
    margin: 0 5px;
}

.navbar a:hover {
    background-color: var(--active-color);
}

.navbar a.active {
    font-weight: bold;
    background: var(--active-color);
    border-radius: 5px;
  }

#logo {
    display: flex;
    margin-top: 10px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.top-block ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 40vh;
    padding: 0 20px;
    background: url("img/back_pic.jpg");
}

#brand {
    font-family: "Pacifico", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 3.5rem;
}

.intro p {
    font-size: 1.5rem;
}

.btn {
    margin-top: 20px;
    cursor: pointer;
    display: inline-block;
    padding: 10px 30px;
    color: var(--back-color);
    background: var(--main-color);
    border: none;
    border-radius: 5px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.btn-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Dropdown Menu */
/* Dropdown Button */
.dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background: var(--active-color);
  
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    margin-top: 10px;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    padding: 12px 14px;
    margin: 0;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
      background-color: #ddd
    }
  
  /* Show the dropdown menu */
  .show {
      display:block;
    }


.books .row img {
  width: 100%;
}

/* Icons */
.icons {
    padding: 30px;
}

.icons h3 {
    margin-bottom: 15px;
}

.icons i {
    color: var(--second-color);
    padding: 1rem;
    margin-bottom: 15px;
}

.icons i:hover {
    cursor: pointer;
}

/* Flex items */
.flex-items {
    display: flex;
    text-align: center;
    justify-content: space-around;
    height: 100%;
}
    
.flex-items > div {
    padding: 10px;
    min-width: 200px;
}

.blog {
    max-height: 200px;
    margin-top: 20px;
    display: inline-block;
    }

/* Flex Columns */
.flex-columns.flex-reverse .row {
    flex-direction: row-reverse;
}

.flex-columns .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.flex-columns .column-blog {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    height: 300px;
}

.flex-columns .column-blog .column-1,
.flex-columns .column-blog .column-2 {
    height: 100%;
}

.flex-columns img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flex-columns .column-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 30px;
}

.flex-columns h2 {
    font-size: 40px;
    font-weight: 100;
}

.flex-columns h4 {
    margin-bottom: 10px;
}

.flex-columns p {
    margin: 20px 0;
}

Section Header */
.section-header {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section-header  h3 {
    font-size: 40px;
    margin: 20px 0;
}

.section-padding {
    padding: 20px 20px 10px;
}

/* Footer */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100px;
    margin-top: 10px;
}

.footer a {
    color: var(--second-color);
}

.footer a:hover {
    color: var(--main-color);
}

.footer .social > * {
    margin-right: 30px;
    
}