@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* Colors & Other Variables */
:root {
    --main-color: #75c7bf;
    --back-color: #faeee7;
    --second-color: #737373;
    --active-color: #ddd;
    --max-width: 1200px;
}

.recipe-category {
    --snack-color: #d9d4e7;
    --mainCourse-color: #a66bbe;
    /* #a786df */
    --dessert-color: #fec7d7;
}

/* Main Elements' Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
    background: var(--back-color);
    color: var(--second-color);
}

h2 {
    font-size: 2rem;
    font-weight: 100;
    margin: 5px 0;
}

h3 {
    font-size: 1rem;
    font-weight: 400;
    margin: 5px 0;
}

ul {
    list-style: none;
}

a {
    color: var(--second-color);
    text-decoration: none;
}

p {
    margin: 5px 0;
}

a:hover {
    text-decoration: none;
    color: white;
}


hr.dotted {
    border-top: 3px dotted #bbb;
    width: 95%;
    margin: auto
  }

.main-color {
    color: var(--main-color);
    font-weight: 800;
}

/* Utilities */
.width-container {
    max-width: var(--max-width);
    margin: auto;
    padding: 0 2rem;
    /* overflow: hidden; */
}

.btn-green {
    margin-top: 20px;
    cursor: pointer;
    display: inline-block;
    padding: 10px 30px;
    color: var(--back-color);
    background: var(--main-color);
    border: none;
    border-radius: 5px;
}

.btn-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .section-header {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    text-align: start;
} */

.section-header  h3 {
    /* font-size: 40px; */
    /* margin: 20px 0; */
}

.section-padding {
    padding: 20px 20px 10px;
}

/* Recipe Heading Container */
.recipe-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.1rem;    
}

.recipe-container > * {
    /* background: pink; */
}

.recipe-container > *:first-child,
.recipe-container > *:last-child {
    grid-column: 1 / span 3;
}

.recipe-container > .quote {
font-style: italic;
font-size: 0.9rem;
}

.recipe-category {
    display: inline-block;
    color: #fff;
    font-size: .55rem;
    text-transform: uppercase;
    padding: 0.4rem 0.6rem;
    border-radius: 15px;
    margin-bottom: 0.5rem;
    max-width: fit-content;
}

.category-snack {
    background: var(--snack-color);
}

.category-mainCourse {
    background: var(--mainCourse-color);
}

.category-dessert {
    background: var(--dessert-color);
}

/* Navbar */
/* Bootstrap */
.navbar .nav-link {
    font-size: 1.2rem;
    margin: 0 20px;
    padding: 10px 0;
}

.navbar-light .navbar-nav .nav-link {
    color: #737373;
}

.navbar .nav-link:hover {
    /* color: var(--second-color); */
    color: #737373;
    font-weight: bold;
}

.navbar-light .navbar-nav .active>.nav-link, 
.navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .show>.nav-link {
    color: var(--second-color);
    font-weight: bold;
    
}



.dropdown-menu a {
    color: var(--second-color);
    padding: 10px 10px;
}


/* Mine */
.re-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;  
    color: var(--second-color);
    opacity: 0.8;
    width: 100%;
    height: 70px;
    position: -webkit-sticky;
    position: sticky; 
    top: 0px;
    padding: 0 30px;
  }

.re-navbar-menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.re-navbar a {
    font-size: 1.2rem;
    color: var(--second-color);
    padding: 25px 20px;
    margin: 0 5px;
    height: 100%;
}

.re-navbar a:hover {
    background-color: var(--active-color);
}

.re-navbar a.menu-active {
    font-weight: bold;
    background: var(--active-color);
    border-radius: 5px;
  }

#logo {
    display: flex;
    margin-top: 10px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 40vh;
    padding: 0 20px;
    background: url("img/back_pic.jpg");
}

#brand {
    font-family: "Pacifico", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 3rem;
}

.intro h2 {
    font-size: 2.5rem;
}

.intro p {
    font-size: 1.2rem;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

/* Dropdown Menu */
.dropdown-container {
    position: relative;
    display: inline-block;
}

.dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
  
.dropbtn:hover, .dropbtn:focus {
    background: var(--active-color);
}
  
.dropdown-content {
    margin-top: 10px;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    padding: 12px 14px;
    margin: 0;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd
}
  
.show {
    display:block;
}

.books .lightbox-row img {
  width: 100%;
}

/* Icons */
.icons {
    padding: 30px;
}

.icons h3 {
    margin-bottom: 15px;
}

.icons i {
    color: var(--second-color);
    padding: 1rem;
    margin-bottom: 15px;
}

.icons i:hover {
    cursor: pointer;
}

/* Flex items */
.flex-items {
    display: flex;
    text-align: center;
    justify-content: space-around;
    height: 100%;
}
    
.flex-items > div {
    padding: 10px;
    min-width: 200px;
}

.blog {
    max-height: 200px;
    margin-top: 20px;
    display: inline-block;
    }

/* Flex Columns */
.flex-columns.flex-reverse .row {
    flex-direction: row-reverse;
}

.flex-columns .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.flex-columns .column-blog {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    height: 300px;
}

.flex-columns .column-blog .column-1,
.flex-columns .column-blog .column-2 {
    height: 100%;
}

.flex-columns img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flex-columns .column-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 30px;
}

.flex-columns h2 {
    font-size: 40px;
    font-weight: 100;
}

.flex-columns h4 {
    margin-bottom: 10px;
}

.flex-columns p {
    margin: 20px 0;
}

/* Footer */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100px;
    margin-top: 10px;
}

.footer a {
    color: var(--second-color);
}

.footer a:hover {
    color: var(--main-color);
}

.footer .social > * {
    margin-right: 30px;
    
}